<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ceph</title>
  <base href="/">

  <script>
    window['base-href'] = window.location.pathname;
  </script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <noscript>
    <div class="noscript container"
         ng-if="false">
      <div class="jumbotron alert alert-danger">
        <h2 i18n>JavaScript required!</h2>
        <p i18n>A browser with JavaScript enabled is required in order to use this service.</p>
        <p i18n>When using Internet Explorer, please check your security settings and add this address to your trusted sites.</p>
      </div>
    </div>
  </noscript>

  <cd-root></cd-root>
</body>
</html>
